body {
  font-family: 'proxima-nova', sans-serif;
  margin: 0;
}

html, body, #app, .container {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100%;
}

.room-select-container {
  margin: 10px 0px;
}

.room-select__value-container {
  padding: 0 20px;
  height: 60px;
}

.input-field {
  margin: 10px 0px;
  height: 60px;
  color: #1e1e1e;
  font: 400 1rem "proxima-nova", sans-serif;
  width: 95%;
  border: 1px solid #dee0e0;
  padding: 0 10px;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.input-field:focus {
  border: 1px solid red;
  outline: none !important;
}

input[type="submit"] {
  background-color: #323232;
  color: white;
  font: 700 1rem "proxima-nova",sans-serif;
  border: none;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  padding: 20px 80px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  margin-top: 20px;
}

input[type="submit"]:hover {
  -webkit-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  background-color: #1e1e1e;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
