.container {
  display: flex;
  flex-direction: row;
}

.side-container {
  display: flex;
  flex-direction: column;
}

.side-container.chat-container {
  width: 90vw;
}

.side-container.users-container {
  background-color: #ccc;
  text-align: center;
  overflow-wrap: break-word;
  overflow-y: auto;
  word-break: break-all;
  width: 180px;
  min-width: 180px;
  border-right: 1px solid #ddd;
}

.user-container {
  background-color: #eee;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  border-top: 1px solid darkgrey;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.user-container.me {
}

/*Customised h4*/
.heading-container {
  display: block;
  font-size: 1.17em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.messages {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 20px;
}

h3 {
  text-align: center;
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.chat-input {
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  flex-shrink: 0;
}

.chat-input input[type="text"] {
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
}

.is-typing-container {
  overflow-x: hidden;
  white-space: nowrap;
  font-style: italic;
  font-size: 14px;
  padding: 0 30px;
  flex-shrink: 0;
}

.message.from-me .username {
  display: none;
}

.message.from-me {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.message.from-me .message-body {
  background-color: #00A6FF;
  color: white;
}

.message {
  overflow-wrap: break-word;
  margin-bottom: 20px;
}
.message-body {
  max-width: 80%;
  display: inline-block;
  padding: 20px;
  background-color: #eee;
  border: 1px;
  border-radius: 5px;
  padding-right: 50px;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
}

.menu-button {
  color: black;
  background-color: darkgrey;
  font-size: 1em;
  height: 40px;
  min-height: 40px;
  border: None;
  border-top: 1px solid dimgray;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.menu-button:hover {
  background-color: grey;
  color: white;
}
